# SPDX-FileCopyrightText: 2025 QDX Technologies. Authored by Ryan Stocks <ryan.stocks00@gmail.com>
# SPDX-License-Identifier: Apache-2.0
---
BasedOnStyle: Google
SpacesBeforeTrailingComments: 2
ColumnLimit: 100
Standard: c++20
