# SPDX-FileCopyrightText: 2025 QDX Technologies. Authored by Ryan Stocks <ryan.stocks00@gmail.com>
# SPDX-License-Identifier: Apache-2.0

compile_commands.json
build
bin
.cache/
Testing
*.btr
commands.txt
core.*
__pycache__/
*.png
